<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="favicon/favicon.ico" />
    <link rel="stylesheet" href="css/style.bundle.css" />

    <title><%=title%></title>
</head>

<body class="loading">
    <header>
        <div class="container">
            <div class="logo" style="height: 130px;">
                <img src="./img/company-logo.jpg" id="logo" style="width: auto;height: 100%;"/>
            </div>            
        </div>        
    </header>